// Theme Colours
$grab-theme-green: #00ba51;
$grab-theme-green-light: #38c564;
$grab-theme-green-dark: #00ba51;

$grab-theme-blue: #488be4;
$grab-theme-blue-light: #5e9bf2;
$grab-theme-blue-dark: #326bbf;

$grab-theme-yellow: #f7c942;
$grab-theme-yellow-light: #f8d367;
$grab-theme-yellow-dark: #e6ac23;

$grab-theme-red: #d64425;
$grab-theme-red-light: #e95e41;
$grab-theme-red-dark: #bd3d22;

$grab-theme-black: #000;
$grab-theme-gray-xxl: #363a45;
$grab-theme-gray-xl: #565d6b;
$grab-theme-gray-l: #898d97;
$grab-theme-gray-m: #ccd6dd;
$grab-theme-gray-s: #eaeff2;
$grab-theme-gray-xs: #f7f9fb;
$grab-theme-white: #fff;
