@import '_font';
@import '_theme';
@import '_animations';

// Font Sizes
$font-size-largest: 3.4286rem;
$font-size-larger: 1.7143rem;
$font-size-large: 1.2857rem;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-smaller: 0.75rem;

// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Site Variables
$brand-primary: $grab-theme-green;
$base-color: #fff;

$tablet-width: 768px;

html,
body {
  color: $grab-theme-gray-xl;
  font-family: 'Sanomat Sans', sans-serif;
  font-size: 14px;
  overflow-x: hidden;

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }
}

a {
  color: $grab-theme-blue;
  transition: color 0.3s linear;

  &:hover,
  &:focus {
    color: $grab-theme-blue-dark;
  }
}

.hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

.banner {
  margin-bottom: 50px;

  .event-date {
    color: $grab-theme-green;
    font-size: $font-size-larger;
    margin: 2rem 0;
  }
}

.logo {
  display: block;
  margin: 2rem auto 4rem;
  max-width: 320px;
  width: 80%;
}

.btn-cta {
  background-color: $grab-theme-gray-xxl;
  font-size: $font-size-large;
  padding: 20px 60px;
  text-transform: uppercase;

  &,
  &:hover,
  &:focus {
    color: #fff;
  }

  & + .btn-cta-deadline {
    color: $grab-theme-gray-l;
    font-size: $font-size-large;
    margin-top: 1rem;
  }
}

.section:nth-child(even).countdown-section {
  background-color: $grab-theme-gray-xxl;
  color: $grab-theme-gray-xs;
}

#countdown {
  text-align: center;

  .countdown-value {
    font-size: 96px;
    font-weight: $font-weight-bold;

    @media (max-width: $tablet-width) {
      font-size: 72px;
    }
  }

  .countdown-unit {
    font-size: 48px;
    transform: translateY(-25px);

    @media (max-width: $tablet-width) {
      font-size: 36px;
    }
  }

  .countdown-col {
    padding: 10px;

    .countdown-col-content {
      border-radius: 5px;
      padding: 10px;
    }
  }
}

.section {
  position: relative;

  &:nth-child(even) {
    background-color: $grab-theme-gray-xs;
  }

  .section-col {
    padding: 5rem 3rem;
  }

  .section-heading {
    color: $grab-theme-green;
    font-size: $font-size-largest;
    font-weight: $font-weight-light;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .section-subheading {
    color: $grab-theme-gray-xxl;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
  }

  .subsection {
    margin: 3rem 0;

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  .section-background {
    background-size: cover;
    height: 100%;
    width: 50%;
    position: absolute;

    @media (max-width: $tablet-width) {
      height: 400px;
      width: 100%;
      position: static;
    }
  }
}

.themes-section {
  .themes-background {
    background-image: url('../img/presentation.jpg');
    background-size: cover;
  }
}

.prizes-section {
  .prizes-background {
    background-image: url('../img/prizes.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 80%;
    right: 0;
  }

  .sponsor {
    color: $grab-theme-gray-l;
    font-size: $font-size-small;
  }
}

.judges-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &:after {
    content: "";
    flex: auto;
  }

  .judge-photo {
    display: inline-flex;
    margin: 10px;
    
    &:hover {
      animation: wiggle 0.5s infinite;
    }

    img {
      height: 80px;
      border-radius: 50%;
    }
  }
}

.rules-section {
  background-image: url('../img/wrench.svg'), url('../img/flag.svg');
  background-repeat: no-repeat;
  background-size: 20%, 30%;
  background-position: -7% 100%, 115% 7%;
}

.schedule-section {
  .schedule-background {
    background-image: url('../img/audience.jpg');
    background-position: 70%;
    right: 0;
  }

  .timing {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  .event {
    display: inline-block;
    width: 70%
  }
}

.queries-section {
  .cap {
    margin-bottom: 2rem;
    max-width: 200px;
    width: 50%;
  }

  .text {
    font-size: $font-size-large;
  }
}

.footer-section {
  background-image: url('../img/footer.jpg');
  background-size: cover;
  padding: 4rem 0 1.75rem;
}
